<p-card styleClass="cart-product-card">
    <button pButton icon="pi pi-times-circle" class="ui-button-rounded ui-button-secondary cart-product-delete"></button>
    <div style="clear: both; height: 0;"></div>
    <div class="img-container">
        <img src="Card" style="width: 4em;" src="https://assets.holyart.it/images/AM008004/es/1600/A/SN010235/CLOSEUP01_HD/h-a06b86e8/stock-camisa-manga-larga-mezcla-algodon-celeste.jpg">
    </div>
    <div class="product-data-container">
        <h5 class="data-title">Producto 1</h5>
        <p class="data-description">Lorem Ipsum dolor sit amet sdf sd fsdf sdf sdf sdf sdf sdf sdfsdf fghfgh fgh xcvdfgdcvr dvf dfg dfg dfgxcd</p>
        <span class="pref-value">M</span> <span class="pref-value">Blanca</span>
        <div class="product-update">
            <p-spinner inputStyleClass="product-quantity" [(ngModel)]="val" [min]="0" [max]="100"></p-spinner> @ <span>$100.00</span>
        </div>
    </div>
</p-card>