/* You can add global styles to this file, and also import other style files */

/* TODO: This should be in cart-sidebar.component.css */
div.ui-sidebar.shopping-cart-sidebar {
    padding: 0;
    width: 30%;
    background-color: #ececec;
}

div.ui-sidebar .shopping-cart-sidebar-header {
    display: block;
    height: 5%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #fff;
}

div.ui-sidebar .shopping-cart-sidebar-body {
    height: 74%;
    overflow-y: scroll;
}

div.ui-sidebar .shopping-cart-sidebar-footer {
    display: block;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 1em;
}

div.ui-sidebar .shopping-cart-sidebar-footer .cart-checkout {
    text-align: center;
    width: 100%;
}

div.ui-sidebar .shopping-cart-sidebar-footer .cart-subtotal-container {
    margin: 0.5em 1em 2em 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ececec;
}

div.ui-sidebar .shopping-cart-sidebar-footer .cart-subtotal-container span {
    width: 50%;
    display: inline-block;
}

/* TODO: This should be in cart-product-card component */
div.cart-product-card.ui-card {
    margin: 0.5em 1em;
    background-color: #fff;
}
div.cart-product-card.ui-card div.ui-card-header {
    padding: 0em 1em;
    background-color: #fff;
}
div.cart-product-card.ui-card button.cart-product-delete {
    color: red;
    width: 0;
    height: 0;
    top: 0;
    float: right;
}

div.cart-product-card.ui-card .img-container {
    width: 30%;
    display: inline-block;
}

div.cart-product-card.ui-card .product-data-container {
    width: 70%;
    display: inline-block;
}

div.cart-product-card.ui-card .product-data-container h5.data-title {
    margin: 0;
    display: inline-block;
    width: 99%;
}

div.cart-product-card.ui-card .product-data-container p.data-description {
    font-size: 10px;
}

div.cart-product-card.ui-card .product-data-container .pref-value {
    display: inline-block;
    margin: 0.25em 0.3em;
}

div.cart-product-card.ui-card .product-data-container .product-quantity{
    width: 5em;
}